:global {
    // Fixing icons in scoped UI fabric
    .ms-Fabric--v6-0-0 .ms-Icon {
      font-family: FabricMDL2Icons !important;
    }
  }

.searchVisualizer {
    .loading {
        color: #003366;
    }
}

.error {
    a {
        text-decoration: none;
        &:visited,
        &:hover {
            text-decoration: none;
        }
        .icon {
            font-size: 9px;
        }
    }
}
